.colorBackground {
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(
      at 10% 0%, 
      rgba(255, 255, 255, 0.5) 0%, 
      transparent 40%
    ),
    radial-gradient(
      at 25% 0%, 
      rgba(255, 255, 255, 0.4) 0%, 
      transparent 40%
    ),
    radial-gradient(
      at 40% 0%, 
      rgba(255, 255, 255, 0.3) 0%, 
      transparent 40%
    ),
    radial-gradient(
      at 55% 0%, 
      rgba(255, 255, 255, 0.3) 0%, 
      transparent 40%
    ),
    radial-gradient(
      at 70% 0%, 
      rgba(255, 255, 255, 0.4) 0%, 
      transparent 40%
    ),
    radial-gradient(
      at 85% 0%, 
      rgba(255, 255, 255, 0.5) 0%, 
      transparent 40%
    );
    
    
  mix-blend-mode: normal;
  max-height: 200px;
  height: 100vh;
  max-width: none;
  width: 100%;
  filter: blur(44px);
  z-index: -1;
}

.colorBackgroundBottom {

}


.homePageStyle {
  overflow: hidden;
  height: 100%;
  z-index: 1;
}

#game-container {
  
}