@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/* styles/globals.css */

body {
  font-family: var(--font-secondary);
  background-color: #e0f4ff;
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  border: 2px solid red;
  top: 0;
  left: 0;
  z-index: -10;
}